ul[is="pagination"] {
  padding-inline-start: 0;

  & > li {
    list-style: none;

    & > a {
      display: inline-block;
      padding-inline-start: 1.25rem;
      position: relative;

      &::before {
        content: "←";
        display: block;
        font-weight: 700;
        inset-block-start: 0.25rem;
        inset-inline-start: 0;
        position: absolute;
        text-decoration: none;
      }

      & > span {
        display: block;

        &:first-of-type {
          font-size: 1.17em;
          font-weight: 700;
        }
      }
    }

    &:last-of-type {
      margin-block-start: 1em;

      & > a {
        &::before {
          content: "→";
        }
      }
    }
  }
}
