section[is="hero"] {
  --hero-flock-display: none;
  --hero-wildlife-mask-position: 6% 100%;
  --hero-wildlife-mask-size: 200%;

  background-image: linear-gradient(
    to bottom,
    hsl(var(--background)),
    hsl(var(--elevated))
  );
  padding-block: clamp(2rem, 5%, 4rem) clamp(8rem, 10%, 16rem);
  padding-inline: clamp(1.5rem, 5%, 2rem);
  position: relative;
  text-align: center;

  &::before,
  &::after {
    background-image: linear-gradient(
      to top,
      hsl(var(--sunken)),
      hsl(var(--drop))
    );
    content: "";
    inset-block-end: 0;
    inset-block-start: 0;
    inset-inline-end: 0;
    inset-inline-start: 0;
    mask-position: 100%;
    mask-repeat: no-repeat;
    position: absolute;
  }

  &::before {
    display: var(--hero-flock-display);
    mask-image: url("assets/flock.svg");
    mask-position: 50% 80%;
    mask-size: 40%;
  }

  &::after {
    inset-block-end: -0.25rem;
    mask-image: url("assets/wildlife.svg");
    mask-position: var(--hero-wildlife-mask-position);
    mask-size: var(--hero-wildlife-mask-size);
  }

  & > h1 {
    font-size: clamp(2em, 8vw, 3em);
    margin-block: 0.48em;
    margin-inline: auto;
  }

  & > h2 {
    font-family: var(--alt-display);
    font-size: clamp(1.73em, 6vw, 2.5em);
    font-style: italic;
    font-weight: 400;
    margin-block-end: 3rem;
    margin-inline: auto;
  }

  @media (min-width: 22em) {
    --hero-wildlife-mask-position: 0 100%;
    --hero-wildlife-mask-size: 200%;
  }

  @media (min-width: 40em) {
    --hero-flock-display: block;
    --hero-wildlife-mask-position: 50% 100%;
    --hero-wildlife-mask-size: 140%;
  }

  @media (min-width: 80em) {
    --hero-wildlife-mask-size: contain;
  }
}
