aside[is="statistics"] {
  padding: 3rem 1rem 0;
  text-align: center;

  & > p {
    background: no-repeat center center url("statistics.svg");
    background-size: contain;
    color: hsl(var(--on-accent));
    margin: -7.25rem auto 3rem; /* stylelint-disable-line scales/space */
    padding: 3rem 1rem;

    & > span {
      display: block;
      margin-inline: auto;
      max-inline-size: 20rem;
    }
  }
}
