:root {
  --text: var(--grass-1-2, 0deg 0% 100%);
  --text-secondary: var(--wheat-2, 0deg 0% 80%);
  --background: var(--wheat-16, 0deg 0% 20%);
  --background-secondary: var(--wheat-17, 0deg 0% 10%);
  --elevated: var(--wheat-13, 0deg 0% 30%);
  --sunken: var(--wheat-17, 0deg 0% 10%);
  --drop: var(--wheat-19, 0deg 0% 0%);
  --inset: var(--wheat-8, 0deg 0% 40%);
  --separator: var(--wheat-12, 0deg 0% 20%);
  --separator-on-elevated: var(--wheat-8, 0deg 0% 40%);
  --accent: var(--grass-5, 120deg 100% 30%);
  --on-accent: var(--wheat-1-06, 0deg 0% 100%);
  --link: var(--sky-2, 220deg 100% 80%);
  --visited: var(--violet-2, 271deg 68% 60%);
  --active: var(--blood-2, 0deg 100% 30%);
  --focus: var(--sun-1-2, 40deg 100% 80%);
  --on-focus: var(--grass-9, 0deg 0% 0%);
  --on-focus-link: var(--sky-6, 240deg 100% 47%);
  --on-focus-visited: var(--violet-6, 271deg 68% 32%);
  --on-focus-active: var(--blood-6, 0deg 100% 30%);
  --input: var(--wheat-8, 0deg 0% 40%);
  --input-icon: var(--wheat-2, 0deg 0% 60%);
  --icon: var(--grass-2, 0deg 0% 60%);
  --icon-secondary: var(--grass-5, 0deg 0% 40%);
  --meta: var(--wheat-12, 0deg 0% 20%);
  --on-meta: var(--wheat-1-5, 0deg 0% 70%);
  --error: var(--blood-6, 0 100% 30%);
  --on-error: var(--wheat-1, 0 100% 100%);
  --command: var(--grass-4, 120deg 100% 30%);
  --toggle-label: var(--grass-1-2, 0deg 0% 100%);
  --toggle-track: var(--wheat-12, 0deg 0% 20%);
  --toggle-thumb: var(--grass-3, 0deg 0% 50%);
  --logo: var(--grass-3, 0deg 0% 30%);
  --on-logo: var(--wheat-16, 0deg 0% 100%);
  --tree-trunk: var(--grass-1-2, 0deg 0% 70%);
  --tree-roots: var(--wheat-12, 0deg 0% 20%);
}
